{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "unused-imports", "simple-import-sort", "prettier"],
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-no-useless-fragment": "error",
    "no-unused-vars": "warn",
    "unused-imports/no-unused-imports": "error",
    "@next/next/no-html-link-for-pages": "off",
    "@typescript-eslint/ban-ts-comment": "off", // turn warn
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@next/next/no-img-element": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "jsx-a11y/role-supports-aria-props": "off",
    "no-use-before-define": "error",
    "no-unexpected-multiline": "error"
  },
  "ignorePatterns": ["/src/generated/types.ts"]
}
