.DS_Store
yarn-error.log

# Private files:
config/certs/
*.db

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Deps:
node_modules/

# Builds:
.next/
build/
out/
.vercel/
.eslintcache
tsconfig.tsbuildinfo
scratch/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE settings
.idea/
.vscode
