{
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 110,
  "plugins": ["prettier-plugin-tailwindcss"]
}
