@font-face {
  font-family: 'CircularXXSub';
  font-style: normal;
  font-weight: 450;
  src: local('CircularXXSub'),
    url('https://assets.lenster.xyz/css/fonts/CircularXXSub-Book.woff2') format('woff');
}

@font-face {
  font-family: 'CircularXXSub';
  font-style: medium;
  font-weight: 500;
  src: local('CircularXXSub'),
    url('https://assets.lenster.xyz/css/fonts/CircularXXSub-Medium.woff') format('woff');
}

@font-face {
  font-family: 'CircularXXSub';
  font-style: bold;
  font-weight: 700;
  src: local('CircularXXSub'),
    url('https://assets.lenster.xyz/css/fonts/CircularXXSub-Bold.woff') format('woff');
}
