@font-face {
  font-family: 'Lenster';
  font-style: normal;
  font-weight: 450;
  src: local('Lenster'), url('https://assets.lenster.xyz/css/fonts/Lenster-Normal.woff') format('woff');
}

@font-face {
  font-family: 'Lenster';
  font-style: medium;
  font-weight: 500;
  src: local('Lenster'), url('https://assets.lenster.xyz/css/fonts/Lenster-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Lenster';
  font-style: bold;
  font-weight: 700;
  src: local('Lenster'), url('https://assets.lenster.xyz/css/fonts/Lenster-Bold.woff') format('woff');
}
