@import url('fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-scroll;
}

body {
  font-family: 'CircularXXSub', sans-serif;
  @apply bg-gray-50;
  @apply dark:bg-black;
}

.shimmer {
  @apply animate-pulse;
  @apply bg-gray-300;
  @apply dark:bg-gray-600;
}

.menu-item {
  @apply block px-4 py-1.5 text-sm text-gray-700 dark:text-gray-200 m-2 rounded-lg cursor-pointer;
}

.text-brand {
  @apply text-brand-500 dark:text-brand-400/80;
}

.linkify a {
  @apply text-brand;
  @apply hover:text-brand-600 dark:hover:text-brand-500;
}

.identicon {
  width: 100% !important;
  height: 100% !important;
}

::-webkit-file-upload-button {
  @apply px-3 py-2 mr-2 border-0 cursor-pointer rounded-l-xl;
  @apply bg-gray-200 dark:bg-gray-900;
}

.bg-hero {
  background: linear-gradient(
      90deg,
      theme('colors.white'),
      theme('colors.white') 50%,
      theme('colors.transparent')
    ),
    url(https://ik.imagekit.io/lensterimg/hero.webp);
  background-size: cover;
}
.dark .bg-hero {
  background: linear-gradient(
      90deg,
      theme('colors.black'),
      theme('colors.black') 50%,
      theme('colors.transparent')
    ),
    url(https://ik.imagekit.io/lensterimg/hero.webp);
  background-size: cover;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.giphy-gif {
  @apply !rounded-none;
}

.page-center {
  @apply flex justify-center items-center h-[calc(100vh-65px)];
}

.tippy-content {
  @apply !px-2.5 !py-0.5;
}

.label {
  @apply mb-1 font-medium text-gray-800 dark:text-gray-200;
}

.mention-input {
  @apply pt-3 min-h-[4rem];
}

.mention-input textarea {
  @apply px-4 w-full !bg-white rounded-xl border border-gray-300 shadow-sm dark:!bg-gray-800 disabled:bg-gray-500 disabled:bg-opacity-20 disabled:opacity-60 dark:border-gray-700/80 focus:border-brand-500 focus:ring-brand-400;
}

.mention-input__suggestions {
  @apply !bg-white dark:!bg-gray-900 !mt-8 !border dark:border-gray-700/80 rounded-xl shadow-sm w-52;
}

.mention-input__suggestions__list {
  @apply divide-y dark:divide-gray-700/80;
}

.mention-input-borderless {
  @apply pt-7 min-h-[6rem];
}

.mention-input-borderless textarea {
  @apply px-5 w-full !text-lg !bg-white border-none dark:!bg-gray-800 disabled:bg-gray-500 disabled:bg-opacity-20 disabled:opacity-60 focus:border-none focus:ring-0;
}

.mention-input-borderless__suggestions {
  @apply !bg-white dark:!bg-gray-900 !mt-8 !border dark:border-gray-700/80 rounded-xl shadow-sm w-52;
}

.mention-input-borderless__suggestions__list {
  @apply divide-y dark:divide-gray-700/80;
}

.dropdown-active {
  @apply bg-gray-100 dark:bg-gray-800;
}

.divider {
  @apply border-b dark:border-gray-700/80;
}

.plyr {
  @apply rounded-lg;
}

.plyr__control--overlaid {
  @apply !bg-brand-500;
}

.plyr--full-ui input[type='range'] {
  @apply !text-brand-500;
}

.plyr__control {
  @apply hover:!bg-brand-500;
}

.text-md {
  @apply !text-sm sm:!text-base;
}

.leading-md {
  @apply !leading-6 sm:!leading-7;
}

.iframely-player,
iframe {
  @apply rounded-xl;
}
/** CSS overrides for plyr audio **/
.plyr--audio .plyr__controls {
  @apply !bg-transparent !text-white;
}
.plyr--audio .plyr__control {
  @apply hover:!bg-transparent;
}
.plyr--audio.plyr--full-ui input[type='range'] {
  @apply !text-white;
}
