@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lenster', Helvetica, Arial, sans-serif;
  @apply bg-gray-50;
  @apply dark:bg-black;
}

.shimmer {
  @apply animate-pulse;
  @apply bg-gray-300;
  @apply dark:bg-gray-600;
}

.menu-item {
  @apply block px-4 py-1.5 text-sm text-gray-700 dark:text-gray-200 m-2 rounded-lg cursor-pointer;
}

.text-brand {
  @apply text-brand-500 dark:text-brand-400/80;
}

.linkify a {
  @apply text-brand;
  @apply hover:text-brand-600 dark:hover:text-brand-500;
}

#__next {
  overflow: hidden;
}

.identicon {
  width: 100% !important;
  height: 100% !important;
}

::-webkit-file-upload-button {
  @apply px-3 py-2 mr-2 border-0 cursor-pointer rounded-l-xl;
  @apply bg-gray-200 dark:bg-gray-900;
}

.bg-hero {
  background: linear-gradient(0deg, #5723eb, hsla(0, 0%, 100%, 0)),
    url('/bg-hero.png');
  background-size: cover;
  height: 500px;
}

.banner-text {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg-logos {
  background: url('/partner_banner.png');
  background-size: contain;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.giphy-gif {
  @apply !rounded-none;
}

.page-center {
  @apply flex justify-center items-center h-[calc(100vh-65px)];
}

.tippy-content {
  @apply !px-2.5 !py-0.5;
}

.label {
  @apply mb-1 font-medium text-gray-800 dark:text-gray-200;
}

.mention-input textarea {
  @apply px-4 w-full bg-white rounded-xl border border-gray-300 shadow-sm dark:bg-gray-800 disabled:bg-gray-500 disabled:bg-opacity-20 disabled:opacity-60 dark:border-gray-700/80 focus:border-brand-500 focus:ring-brand-400;
}

.mention-input__suggestions {
  @apply !bg-white dark:!bg-gray-900 !mt-8 !border dark:border-gray-700/80 rounded-xl shadow-sm w-52;
}

.mention-input__suggestions__list {
  @apply divide-y dark:divide-gray-700/80;
}

.venueBackgroundImage {
  width: 100%;
  display: block;
  background-image: cointains;
  background-size: cover;
}
