name: Cron - Downgrade Profiles

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  downgrade:
    name: Downgrade
    runs-on: ubuntu-latest
    steps:
      - name: Downgrade Profiles
        env:
          SECRET: ${{ secrets.SECRET }}
        run: |
          curl -X POST \
            -d '{"secret": "'"$SECRET"'"}' \
            https://api.hey.xyz/internal/pro/downgradeProfiles
